.form-group
  = f.label :username, class: "col-sm-4 control-label"
  .col-sm-4
    = f.text_field :username, class: 'form-control'
.form-group
  = f.label :email, class: "col-sm-4 control-label"
  .col-sm-4
    = f.text_field :email, class: 'form-control'
