- if target.errors.any?
  .alert.alert-error
    %a.close{'data-dismiss' => 'alert', href: '#'}
      x
    %p
      %strong
        = pluralize(target.errors.count, "error")
        prohibited this user from being saved:
    %ul
      = target.errors.full_messages.each do |msg|
        %li= msg
