.add-title
  Add
  %a{href: '/add?cancel=true', 'data-remote' => true}
    %i.close-link.fa.fa-times.fa-close
.add-school.add-item#link
  %a{href: "/schools/new?cancel=false", 'data-remote' => true}
    .add-school-title New School...
    .add-description 
      new schoolnew schoolnew schoolnew schoolnew schoolnew schoolnew school
.add-group.add-item#link
  %a{href: "/groups/new?cancel=false", 'data-remote' => true}
    .add-school-title New Group...
    .add-description 
      new schoolnew schoolnew schoolnew schoolnew schoolnew schoolnew school
