- school_id = 'school_' + school.id.to_s
- @groups   = school.groups.ordered

.school-item
  %i.fa.fa-users.fa-2x.custom-icon
  = link_to school.name, "#", class: 'school-name'

  %ul.group-list{id: school_id}
    - if @groups.any? 
      = render @groups
