.schools-sidebar
  .label.label-primary#school-title Your Schools
  .create-school
    = link_to_inline("Create school", send("new_school_path"), "create_school")
  .remote#create_school{ hidden }
  %ul#school-list
    - if @schools.any?
      = render @schools
    - else
      = render 'shared/empty'

