.school-container
  .school-list
    - if @schools.any? 
      %ul
        - @schools.each do |school| 
          %li.school-item
            %i.fa.fa-users.fa-2x.custom-icon
            %span.school-name= school.name
    - else
      You have't create school yet!
