.school-container
  .school-list
    - if @schools.any? 
      %ul
        - @schools.each do |school| 
          %li.school-item
            %i.fa.fa-users.fa-2x.custom-icon
            %span.school-name= school.name
            %span.create-group-link= link_to_inline("Create group", send("new_group_path"), "create_group")
    - else
      You have't create school yet!
