.form-style
  .form-header
    = @school.name 
    .edit-link
      = link_to 'Edit', edit_school_path
  %ul.profile-item
    - @groups.each do |group|
      %li
        %strong= group.name

  .new-group= link_to 'New Group', new_group_path(session[:school_id] = @school.id)
