#school-title {
  padding: .3em .7em .4em;
  font-size: 90%;
}

.create-school, .create-group {
  float: right;
}

.schools-sidebar {
  width: 25%;
  background: #fff;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

.school-list {
  padding: 0;
}

.school-item {
  list-style: none;
  padding-top: 25px;
  color: #428bca;
  font-weight: bold;
  border-bottom: 1px solid rgb(185, 181, 181);
}

.edit-link {
  float: right;
  font-weight: normal;
  padding-right: 20px;
}

.new-group {
  padding-top: 20px;
}

.group-name {
  font-weight: normal;
  padding-top: 10px;
}

#create_school {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #F7ECEC;
}

.schools-sidebar a:hover {
  text-decoration: none;
}
