#add {
  z-index: 999;
  position: absolute;
  top: 60px;
  right: 3%;
  width: 21%;
  background: #fff;
  padding: 10px;
  border: 1px solid #b9b9b9;
}

.add-title {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  font-weight: bold;
  color: #939393;
}

.fa-close {
  float: right;
  color: #939393;
}

.add-school-title {
  font-weight: bold; 
  color: #428bca;
}

.add-item {
  padding-top: 10px;
}

#link > a {
  display: block;
  text-decoration: none;
}

.add-description {
  color:#939393; 
}

.add-item > a:hover {
  background-color: #F0F0F0;
}

.close-link:hover, #return:hover {
  color: #707070; 
}

#return {
 float: left;
 color: #939393;
 text-decoration: none;
}

.add-form {
  padding-top: 10px;
}

.add-button {
  margin-top: 15px;
}

.field_with_errors {
  display: inline;
}

#group_school_id {
  width: 100%;
  padding: 3px 0px 3px 0px;
}

.label_school {
  padding-top: 10px;
}

.school-list-item {
  padding-bottom: 200px;
  padding-left: 25px;
}

.school-container {
  margin-top: 50px;
}

.custom-icon {
  color: rgb(141, 136, 136);
}

.school-name {
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25em;
}

.group-list-item {
  float: left;
  width: 25%;
  list-style: none;
  margin-top: 10px;
  padding-left: 5px;
}

.group-name {
  background: #23719F;
  padding: 10px 63% 30% 10px;
  border-radius: 5px;
  color: #f6f6f6;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.group-name:hover {
  color: #fff;  
  text-decoration: none;
  background-color: #196490;
}
