#header {
  float: right;
  margin-right: 30px;
}

.form-style {
  width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.form-header {
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.profile-item > li > label {
  color: #817979;
  font-size: 12px;
  margin-right: 8px;
  display: inline-block;
  width: 15%;
  text-align: right;
}

.profile-item > li{
  list-style: none;
  border-bottom: 1px dashed #eee;
}

.profile-item {
  padding-left: 10px;
}

.form-text {
  background-color: #fcf8e3;
  line-height: 36px;
  text-align: center;
  color: #c09853;
  margin-bottom: 20px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.form_style ul {
  padding-left: 25px;
}
